name: Playwright + Cucumber + Allure Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Step 2: Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      # Step 3: Install dependencies
      - name: Install dependencies
        run: npm ci

      # Step 4: Install Playwright browsers
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      # Step 5: Run Playwright + Cucumber Tests
      - name: Run Playwright + Cucumber tests
        run: |
          npx cucumber-js --require-module @babel/register --require tests/steps/**/*.js
        continue-on-error: true

      # Step 6: Generate Allure Report
      - name: Generate Allure Report
        if: always()
        run: npx allure generate ./allure-results --clean -o ./allure-report

      # Step 7: Upload Allure Report as Artifact
      - name: Upload Allure Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: allure-report

      # Step 8: Upload Raw Cucumber JSON Results
      - name: Upload Cucumber JSON results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: cucumber-json
          path: cucumber-report.json

      # Step 9: Deploy Allure Report to GitHub Pages
      - name: Deploy Allure Report to GitHub Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v4
        with:
            github_token: ${{ secrets.GITHUB_TOKEN }}
            publish_dir: ./allure-report
            publish_branch: gh-pages
